<% content_for :body_class, 'bg-light' %>

<section class="section instrument-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2">Posts</h1>

      <div class="content pa4 mt3 bg-white border-radius-3">
        <% if current_user.instruments.any? %>
          <table class="table is-narrow">
            <tr>
              <th>Title</th>
              <th>Post</th>
              <th>Edit</th>
            </tr>
            <% current_user.instruments.each do |instrument| %>
              <tr>
                <td><%= instrument.title%></td>
                <td>
                  <%= link_to "View Post", instrument_path(instrument) %>
                </td>
                <% if !instrument.closed %>
                  <td>
                    <%= link_to "Edit Post", edit_instrument_path(instrument) %>
                  </td>
                <% else %>
                  <td>
                    Closed
                  </td>
                <% end %>
              </tr>
            <% end %>
          </table>
        <% else %>
          <h3 style="margin-bottom: 0" >No posts</h3>
        <% end %>
      </div>
    
      <h1 class="title is-2">Winning bids</h1>

      <div class="content pa4 mt3 bg-white border-radius-3">
        <% if current_user.winning_bids.any? %>
          <table class="table is-narrow">
            <tr>
              <th>Title</th>
              <th>Post</th>
              <th>Buy</th>
            </tr>
            <% current_user.winning_bids.each do |bid| %>
              <tr>
                <td><%= bid.instrument.title%></td>
                <td>
                  <%= link_to "View Post", instrument_path(bid.instrument) %>
                </td>
                <td>
                  <%= link_to "Add to cart", line_items_path(instrument_id: bid.instrument), method: :post %>
                </td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <h3 style="margin-bottom: 0" >No winning bids</h3>
        <% end %>
      </div>

      <h1 class="title is-2">Watchlist</h1>

      <div class="content pa4 mt3 bg-white border-radius-3">
        <% if @watched_items.any? %>
          <table class="table is-narrow">
            <tr>
              <th>Title</th>
              <th>Post</th>
            </tr>
            <% @watched_items.each do |item| %>
              <tr>
                <td><%= item.instrument.title%></td>
                <td>
                  <%= link_to "View Post", instrument_path(item.instrument) %>
                </td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <h3 style="margin-bottom: 0" >No instruments on watchlist</h3>
        <% end %>
      </div>
    </div>
  </div>
</section>