<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Editing Instrument
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="pt4">
  <%= render 'form', instrument: @instrument %>
</div>

<hr>

<div class="columns">
  <div class="column is-8 is-centered">
    <%= simple_form_for @instrument do |f| %>
      <%= f.error_notification %>

      <%= f.hidden_field :closed, value: true %>
      <div class="field is-grouped">
        <div class="control">
          <%= f.button :submit, "Close Listing", class: 'button is-light' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
