<% content_for :body_class, 'bg-light' %>

<section class="section instrument-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2"><%= @instrument.title %></h1>

      <ul class="pv1">
        <% if @instrument.brand? %>
        <li class="inline-block pr3"><%= @instrument.brand %></li>
        <% end %>

        <li class="inline-block pr3"><%= @instrument.model %></li>

        <% if @instrument.condition? %>
        <li class="inline-block pr3"><%= @instrument.condition %></li>
        <% end %>
      </ul>

      <div class="feature-image">
        <% if !@instrument.image_url.blank? %>
          <%= image_tag(@instrument.image_url(:default)) %>
        <% else %>
          <%= image_tag("placeholder.jpg") %>
        <% end %>
      </div>

      <div class="content pa4 mt3 bg-white border-radius-3">

      <h3 class="subtitle is-4">Description</h3>
      <%= @instrument.description %>


      <h3 class="subtitle is-4 pt5">Product Specs</h3>

      <table class="table is-narrow">
        <% if @instrument.condition %>
        <tr>
          <td class="has-text-weight-bold">Condition:</td>
          <td><%= @instrument.condition %></td>
        </tr>
        <% end %>

        <% if @instrument.finish %>
          <tr>
            <td class="has-text-weight-bold">Finish:</td>
            <td><%= @instrument.finish %></td>
          </tr>
        <% end %>

        <% if @instrument.brand %>
          <tr>
            <td class="has-text-weight-bold">Brand:</td>
            <td><%= @instrument.brand %></td>
          </tr>
        <% end %>

        <tr>
          <td class="has-text-weight-bold">Model:</td>
          <td><%= @instrument.model %></td>
        </tr>
      </table>
    </div>
    </div>
    <div class="column is-3 is-offset-1">
      <div class="bg-white pa4 border-radius-3">
        <h4 class="title is-4 has-text-centered">Current Bid: <%= number_to_currency(@instrument.max_bid) %></h4>
        <p class="has-text-centered mb4">Sold by <%= @instrument.user.name %></p>
        <h4 class="title is-5 has-text-centered"> Min Bid: 
          <%= number_to_currency(@instrument.max_bid + 0.01) %>
        </h4>
        <% if user_signed_in? %>
          <%= form_with model: @bid do |form| %>
            <%= form.number_field :price, 
                                  step: 0.01,
                                  value: @instrument.max_bid + 0.01,
                                  class: "input mb4" %>
            <%= form.hidden_field :instrument_id, 
                                  value: @instrument.id %>
            <%= form.hidden_field :user_id,
                                  value: current_user.id %>
            <%= form.submit "Add Bid", class: 'button is-warning add-to-cart' %>
          <% end %>
        <% else %>
          <h5 class="title is-5 has-text-centered" >Sign in to bid</h5>
          <%= button_to 'Sign In', new_user_session_path, class: 'button is-warning add-to-cart' %>
        <% end %>
        <hr>

        <p class="has-text-centered" ><i class="bi bi-eye"></i> Add To Watchlist</p>
      </div>
    </div>
  </div>

  <% if instrument_author(@instrument) %>
    <%= link_to 'Edit', edit_instrument_path(@instrument), class: 'button' %>
  <% end %>
</section>