<% content_for :body_class, 'bg-light' %>

<section class="section instrument-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2"><%= @instrument.title %></h1>

      <ul class="pv1">
        <% if @instrument.brand? %>
        <li class="inline-block pr3"><%= @instrument.brand %></li>
        <% end %>

        <li class="inline-block pr3"><%= @instrument.model %></li>

        <% if @instrument.condition? %>
        <li class="inline-block pr3"><%= @instrument.condition %></li>
        <% end %>
      </ul>

      <div class="feature-image">
        <% if !@instrument.image_url.blank? %>
          <%= image_tag(@instrument.image_url(:default)) %>
        <% else %>
          <%= image_tag("placeholder.jpg") %>
        <% end %>
      </div>

      <div class="content pa4 mt3 bg-white border-radius-3">

      <h3 class="subtitle is-4">Description</h3>
      <%= @instrument.description %>


      <h3 class="subtitle is-4 pt5">Product Specs</h3>

      <table class="table is-narrow">
        <% if @instrument.condition %>
        <tr>
          <td class="has-text-weight-bold">Condition:</td>
          <td><%= @instrument.condition %></td>
        </tr>
        <% end %>

        <% if @instrument.finish %>
          <tr>
            <td class="has-text-weight-bold">Finish:</td>
            <td><%= @instrument.finish %></td>
          </tr>
        <% end %>

        <% if @instrument.brand %>
          <tr>
            <td class="has-text-weight-bold">Brand:</td>
            <td><%= @instrument.brand %></td>
          </tr>
        <% end %>

        <tr>
          <td class="has-text-weight-bold">Model:</td>
          <td><%= @instrument.model %></td>
        </tr>
      </table>
    </div>
    </div>
    <div class="column is-3 is-offset-1">
      <div class="bg-white pa4 border-radius-3">
        <h4 class="title is-4 has-text-centered">Current Bid: <%= number_to_currency(@instrument.max_bid) %></h4>
        <p class="has-text-centered mb4">Sold by <%= @instrument.user.name %></p>
        <h4 class="title is-5 has-text-centered"> Min Bid: 
          <%= number_to_currency(@instrument.max_bid + 0.01) %>
        </h4>
        <% if user_signed_in? %>
          <%= form_with model: @bid do |form| %>
            <%= form.number_field :price, 
                                  step: 0.01,
                                  value: @instrument.max_bid + 0.01,
                                  class: "input mb4" %>
            <%= form.hidden_field :instrument_id, 
                                  value: @instrument.id %>
            <%= form.hidden_field :user_id,
                                  value: current_user.id %>
            <% if !instrument_author(@instrument) %>
              <%= form.submit "Add Bid", class: 'button is-warning add-to-cart' %>
            <% end %>
          <% end %>
          <% if !instrument_author(@instrument) %>
            <hr>
            <% if !current_user.is_part_of_watchlist?(@instrument.id) %>
              <%= form_with model: @watched_item do |form| %>
                <%= form.hidden_field :user_id,
                                      value: current_user.id %>
                <%= form.hidden_field :instrument_id,
                                      value: @instrument.id %>
                <%= button_tag(class: "button is-warning add-to-cart") do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                  </svg> 
                  Add To Watchlist
                <% end %>
              <% end %>
            <% else %>
              <%= button_to watched_item_path(current_user.get_watched_item(@instrument.id)),
                  class: "button is-warning add-to-cart", method: :delete do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                  <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                  <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                  <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884l-12-12 .708-.708 12 12-.708.708z"/>
                </svg>
                &nbsp Remove From List
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <h5 class="title is-5 has-text-centered" >Sign in to bid</h5>
          <%= button_to 'Sign In', new_user_session_path, class: 'button is-warning add-to-cart' %>
        <% end %>
      </div>
    </div>
  </div>

  <% if instrument_author(@instrument) %>
    <%= link_to 'Edit', edit_instrument_path(@instrument), class: 'button' %>
  <% end %>
</section>